.All_login {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}
.login_but {
  padding: 12px;
  padding-left: 20px;
  margin-bottom: 30px;
  transition: all 0.1s;
  cursor: pointer;
  color: #ffffff;
}
.login_but {
  background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
  transition-duration: 0.2s;
}
.login_but:hover {
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  transform: scale(1.015);
}
.login {
  border: 1px solid #a1a1a100;
  background-color: #ffffff;
  width: 40%;
  margin: auto;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.03);
  margin-top: 120px;
}
.login_p {
  text-align: center;
  font-size: 40px;
}
.login_inputs{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
}
.input_login{
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 96%;
}
.register_link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.register_div {
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.register_div_p {
  color: #ffffff;
}
.error_login{
  text-align: center;
  color: red;
  font-size: 26px;
}
@media (max-width: 1250px) {
    .login {
        width: 60%;
      }
}
@media (max-width: 900px) {
    .login {
        width: 80%;
      }
}
@media (max-width: 650px) {
    .login {
        width: 100%;
      }
}
@media (max-width: 600px) {
      .login_p{
        font-size: 34px;
      }
      .register_div{
        flex-direction: column;
      }
}
