@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.Carousel{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.containerCarousel1 {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;


  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
}
.containerCarousel__mini{
    /* max-width: 1600px; */
    width: 70%;
    margin: 50px auto 100px auto;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 40px;
    /* flex-direction: row;
    align-items: start;
    justify-content: space-between; */

}

.firstBlock .containerCarousel {
    justify-content: space-between;
}

.carousel {
    margin: 30px 0;
}

.firstBlock .carousel {
/* padding: 100px 0; */
    /* margin-top: 50px; */
}


.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-top: 0px;
    border-bottom: 0px;
}

.carousel-indicators .active {
    background: linear-gradient(135deg, #A36F4D, #E4A16F);
}

@media(max-width:426px){
    .containerCarousel__mini{
        width: 95%;
    }
}