.container {
  max-width: 1600px !important;
  width: 90% !important;
}

button {
  border-radius: 0px !important;
}

.main .ourProducts, .main .newItems, .main .weRecomend, .main .whyPeopleChooseUs {
    margin: 80px 0  ;
  }
  
  .main .bestSells, .main .whyPeopleChooseUs {
    background: #F5F6F6;
    padding: 80px 0;
  }
  
  .main .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 29px;
    margin-top: 46px;
  }
  
  .main .ourProducts .katalogButton, .main .bestSells .katalogButton, .main .newItems .katalogButton, .main .weRecomend .katalogButton, .main .whyPeopleChooseUs .mainButtonInBlock .katalogButton {
    color: #fff;
    background: linear-gradient(90deg, #5E3928, #E4A15F);
    padding: 16px 77px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 45px;
    cursor: pointer;
    width: 337px;
  }
  
  .main .littleBaner {
    background: linear-gradient(135deg, #7E6E51, #0F4138);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    padding: 80px 0;
  }
  
  .main .littleBaner .container {
    max-width: 1600px;
    width: 90%;
    margin: 0 300px;
  }
  
  .main .littleBaner .littleBanerTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  
  .main .littleBaner .littleBanerTextContent .number {
    font-size: 140px;
  }
  
  .main .littleBaner .littleBanerTextContent p {
    font-size: 35px;
    font-weight: 400;
    width: 533px;
    text-align: left;
  }
  
  .main .littleBaner .littleBanerTextContent button {
    color: #fff;
    background: linear-gradient(90deg, #5E3928, #E4A15F);
    padding: 16px 77px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .main .whyPeopleChooseUs {
    margin: 80px 0 0 0;
  }
  
  .main .whyPeopleChooseUs h1 {
    margin-bottom: 49px;
  }
  
  .main .whyPeopleChooseUs .blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 65px;
    justify-content: space-between;
  }

  .firstBlock {
    background: linear-gradient(135deg, #7E6E51, #0F4138);
    padding: 30px;
  }
  
  .firstBlock .carousel-indicators {
    justify-content: flex-start;
  }
  
  .textBlock {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 624px;
  }
  
  .textBlock h1 {
    font-size: 100px;
  }
  
  .textBlock h1::after {
    content: " ";
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
    height: 2px;
    width: 100%;
    display: block;
    margin-top: 50px;
  }
  
  .textBlock .h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 50px 0 40px 0;
  }
  
  .textBlock .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .textBlock .price h3 {
    font-weight: 300;
  }
  
  .textBlock .price p {
    font-weight: 700;
  }
  
  .textBlock button {
    color: #fff;
    background: linear-gradient(90deg, #5E3928, #E4A15F);
    padding: 16px 77px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    width: 327px;
  }

@media (max-width: 768px) {
  .firstBlock .carousel {
    height: 500px !important;
  }

  .carousel {
    height: 350px !important;
  }

  .textBlock {
    margin-left: 40px !important;
  }

  .textBlock h1 {
    font-size: 60px;
  }

  .textBlock h1::after {
    width: 368px;
  }

  .textBlock .h3 {
    font-size: 30px;
    width: 357px;
  }

  .textBlock .price {
    font-size: 24px;
  }

  .main .littleBaner .container {
    margin: 0 auto ;
  }

  .main .littleBaner .littleBanerTextContent {
    gap: 35px;
  }

  .main .littleBaner .littleBanerTextContent .number {
    font-size: 100px;
  }

  .main .littleBaner .littleBanerTextContent p {
    font-size: 20px;
    width: 306px;
  }

  .main .ourProducts .katalogButton, .main .bestSells .katalogButton, .main .newItems .katalogButton, .main .weRecomend .katalogButton, .main .whyPeopleChooseUs .mainButtonInBlock .katalogButton {
    margin-top: 40px;
  }
}

@media (max-width: 320px) {
  .firstBlock {
    padding: 30px 0;
  }

  .firstBlock .carousel {
    height: 350px !important;
    margin-top: 30px !important;
  }

  .carousel {
    margin-top: 30px;
    height: 310px !important;
  }

  .textBlock {
    margin-left: 20px !important;
  }

  .textBlock h1 {
    font-size: 30px;
  }

  .textBlock h1::after {
    width: 200px;
    margin-top: 20px;
  }

  .textBlock .h3 {
    font-size: 20px;
    width: 188px;
    margin: 15px 0;
  }

  .textBlock .price {
    width: 188px;
    font-size: 16px;
  }

  .main .littleBaner .container {
    margin: 0 auto ;
  }

  .main .littleBaner .littleBanerTextContent {
    gap: 15px;
  }

  .main .littleBaner .littleBanerTextContent .number {
    font-size: 60px;
  }

  .main .littleBaner .littleBanerTextContent p {
    font-size: 14px;
    width: 165px;
  }

  .main .textBlock button, .main .ourProducts .katalogButton, .main .bestSells .katalogButton, .main .littleBaner .littleBanerTextContent button, .main .newItems .katalogButton, .main .weRecomend .katalogButton, .main .whyPeopleChooseUs .mainButtonInBlock .katalogButton {
    padding: 16px 40px;
    width: 271px;
  }

  .main .textBlock button {
    width: 150px;
  }

  .main .ourProducts .katalogButton, .main .bestSells .katalogButton, .main .newItems .katalogButton, .main .weRecomend .katalogButton, .main .whyPeopleChooseUs .mainButtonInBlock .katalogButton {
    margin-top: 30px;
  }

  .main .ourProducts, .main .newItems, .main .weRecomend, .main .whyPeopleChooseUs {
    margin: 40px 0;
  }

  .main .bestSells, .main .whyPeopleChooseUs {
    padding: 40px 0 ;
  }

  .main .littleBaner {
    padding: 40px 0;
  }
}