a{
  text-decoration: none;
}
a:hover{
  color: #ffffff;
}

.footer_up_button {
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  position: fixed;
  right: 10%;
  bottom: 0;
  height: 100px;
  padding-top: 25px;
  cursor: pointer;
  transition: 0.1s linear;
}

/* .footer_up_button:hover {
  transform: scale(1.1);
} */

.footer_up_p {
  margin-bottom: 0 !important;
  rotate: 90deg;
  color: #ffffff;
}

.footer {
  /* margin-bottom: 0 !important;
    padding-left: 10%;
  margin-top: 80px;
  padding-bottom: 70px;
  padding-top: 80px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-left: -18%; */

  background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
  padding: 80px 0;
}
.footer_up_button{
  width: 50px;
}

.footer__container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer_alt {
  max-width: 700px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.footer_div {
  /* max-width: 220px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.img_logo {
  height: 43.75px;
  width: 175px;
}

.footer_p_top {
  font-size: 18px;
  color: #ffffff;
}

.footer_p,
.footer_p_alt {
  color: #ffffff;
  /* margin-top: 10px;
  margin-right: 29%; */
  font-size: 14px;
  display: inline-block;
  width: fit-content;
  text-wrap: nowrap;
  text-decoration: none;
}

.footer__a{
  width: fit-content;
}

.footer_p {
  /* cursor: pointer; */
}

/* .footer_p:hover {
  cursor: pointer;
  border-bottom: 1px #adbab6 solid;
} */

.footer_contacts {
  margin-right: 20px;
}

/* .footer_contacts:hover {
  cursor: pointer;
} */



@media (max-width: 1000px) {
  /* .footer {
    display: grid;
  }

  .footer_alt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .footer_div {
    width: 100%;
  } */

  .footer__container{
    flex-direction: column;
  }
  .footer_p, .footer_p_alt{
    text-wrap: wrap;
  }
}

@media (max-width: 600px) {
  /* .footer {
    padding-left: 5%;
  } */

  .footer_alt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 450px) {
  .footer_alt {
    grid-template-columns: 1fr;
  }
}

.none {
  display: none;
}